<div id="incomeForm">
    <div class="incomeRow" class="form">
        <input type="text" name="incomeSource[]" placeholder="Income Source">
        <input type="number" name="incomeAmount[]" placeholder="Amount">
        <button type="button" class="removeRow" style="display:none;">Remove</button>
    </div>
    <button type="button" id="addIncome" class="hero-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
          </svg>
           
        Add Income
    </button>
</div>


<div id="expenseForm" class="form">
    <div class="expenseRow">
        <input type="text" name="expenseSource[]" placeholder="Expense Source">
        <input type="number" name="expenseAmount[]" placeholder="Amount">
        <button type="button" class="removeRow" style="display:none;">Remove</button>
    </div>
    <button type="button" id="addExpense" class="hero-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
          </svg>
          
        Add Expense
    </button>
</div><button type="submit" id="submitIncome" class="btn">Submit</button>