body {
    background-color: #2C2C2C;
    margin: 0;
    /* Remove default margin */
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.form {
    width: 100%;
    /* Full width of the parent */
    max-width: 400px;
    /* Limit the maximum width */
    margin: 10px 0;
    /* Add some vertical spacing */
}

.hero-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: transparent;
    color: #F1F1F1;
    border: 2px solid #2ECC71;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.hero-button:hover {
    background-color: #2ECC71;
}

.hero-button svg {
    width: 24px;
    height: 24px;
}


label {
    display: block;
    color: #F1F1F1;
}

input[type="text"],
input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #F1F1F1;
    background-color: #2C2C2C;
    outline-color: #CCC;
    border-color: #F1F1F1;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: transparent;
    color: #F1F1F1;
    border: 2px solid #2ECC71;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2ECC71;
}

h1, p {
    color: #F1F1F1;
    display: block;
}

.income-expense {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
}

.incomeForm {
    grid-column-start: 1;
    grid-column-end: 1;
}

.expenseForm {
    grid-column-start: 2;
    grid-column-end: 2;
}

.incomeRow, .expenseRow {
    display: flex;
    gap: 10px;
    margin: auto 50px;
}