<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div id="incomes">
        <table>
            <thead>
                <th>Source</th>
                <th>Amount</th>
            </thead>
            <tbody>
                {% for income in incomes %}
                    <tr>
                        <td>income['source']</td>
                        <td>income['amount']</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>